/* reset */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h4, h1, h2, p{
  margin: 0;
}

.link {
  text-decoration: none;
}

html{
  box-sizing: border-box;
}
html *, ::after, ::before{
  box-sizing: inherit;
}

/* style */

body {
  background-color: #ffffff;
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h4 {
  font-weight: 600;
  font-size: 21px;
}
/* main html */

header {
  border-bottom: 1px solid #ffffff;
}

img {
  display: block;
}

.button {
  cursor: pointer;
}

/* container */
header {
  position: absolute;
  top: 0;
  left: 0;

  padding: 30px 0;

  width: 100%;
}


.container {
  max-width: 1296px;
  margin: 0 auto;
}
/* nav-menu */
.logo{
  display: block;
}

.nav-menu-item {
  display: inline-block;
}

.nav-menu-item > .link {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}



.nav-menu {
  display: flex;
  gap: 40px;

  position: relative;

  margin-left: 124px;
}
.header {
  display:flex;
  align-items: center;
}

.nav-menu-item {
  position: relative;
}

.icon {
  transform: translate(-200%, -50%) scale(1);
  transition : transform 200ms, opacity 200ms;
  position: absolute;
  top: 50%;
  left: 0;
  
  width: 10px;
  height: 10px;

  background-color: #F7ECE1;
  opacity: 0.2;
}

.nav-menu-item:hover .icon {
  transform: translate(-200%, -50%) scale(1.5);

  opacity: 1;
}

/* block html */

.headline {
  padding-top: 136px;
  padding-bottom: 60px;
  background:url('../images/background1.jpg');
  background-repeat: no-repeat;
  background-position:bottom;
  color: #ffffff;
}

.headline .title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}
.news{
  padding-top:80px ;
  padding-bottom: 120px;
}
.news .list{
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
}

.news .item {
  padding: 30px 40px;
  outline: 1px solid #F7ECE1;
  width: 416px;
}
.news img{
  display: block;
}

.news h4 {
  margin-bottom: 20px;
  max-width: 336px;

  font-weight: 600;
  font-size: 21px;
  color: #333333;
}

.news p {
  margin-top: 25px;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 1.4;
  color: #333333;
  opacity: 0.5;
}
.news .button {
  padding: 10px 20px;
  border: none;

  background-color: #8D86C9;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #FFFFFF;
}
.news .item:nth-child(2) h4{
  margin-bottom: 49px;
}

.overlay {
  position: relative;
  overflow: hidden;

}

.blue {
  padding: 15px 20px;
  background-color: rgba(9, 30, 87, 0.7);
  position: absolute;
  transform: translateY(-110%);
  transition: transform 200ms; 


  top: 15px;
  left: 20px;

  width: 296px;
  height: 210px;
}

.news .item:hover .blue {
  transform: translateY(0);
}

.blue p {
  color: #FFFFFF;
  opacity: 1;
  font-weight: 600;
  font-size: 21px;
}


/* hero */

.hero {
  padding-top: 306px;
  background:url('../images/background2.jpg');
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 636px;
  margin-bottom: 342px;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.4;
  color: #FFFFFF;
}

/* hero-buttons */

.hero-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.hero-list .button{
  width: 315px;
  padding: 35px 0 40px 35px;
  border: none;


  background-color: #8D86C9;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.text {
  margin-top: 17px;
  font-weight: 700;
  font-size: 24px;

  margin-top: 17px;
}

/* foto */
.foto{
  background-color: #ffffff;

  padding: 150px 0;
}

.foto-list .item {
  padding: 25px 20px;
  border: 1px solid rgba(247, 236, 225, 1);
}

.foto-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* cost */
.cost {
  padding: 150px 0;

  background-color: #ffffff;
}

.costs  .item:not(:last-child){
  margin-bottom: 31px;
}

.costs .title {
  margin: 0;
  margin-bottom: 75px;

  font-weight: 700;
  font-size: 36px;

  color: #333333;
}

.costs {
  width: 526px;
  margin: 0;
}
.costs button {
  display: block;
  padding: 15px 0;
  width: 100%;

  font-weight: 600;
  font-size: 21px;
  line-height: 1.4;

  color: #ffffff;
  background-color: #8D86C9;

  border: none;
  cursor: pointer;
}
.cost .container{
  display: flex;
}

.top {
  display: flex;
  align-items: center;

  position: relative;

  margin-bottom: 75px;
}

.top .list {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  gap: 15px;
}

.top .button {
  display: block;
  padding: 22.5px;
  border: none;

  background-color: #8D86C9;
}

.image {
  position: relative;

  width: 586px;
  height: 270px;

  background: url('../images/service.jpg');
  background-position:center ;
  background-size:contain ;
}

.image p {
  position: absolute;
  top: 202px;
  left: 40px;

  font-weight: 700;
  font-size: 27px;
  color: #FFFFFF;
}

.services {
  margin-left: 104px;
}

.services .title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #333333;
}

.photo {
  padding: 30px 25px;
  border: 1px solid #F7ECE1;
}

/* sport */

.sport-club {
  padding-bottom: 150px;
}

.sport-club .container {
  position: relative;
}

.sport-club img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% + 86px), -50%);
}

.text-container > p{
  margin-bottom: 24px;
}

.text-container .item:not(:last-child){
  margin-bottom: 20px;
}

.text-container {
  position: relative;
  padding: 70px 60px 84px 146px;
  max-width: 636px;
  margin-right: auto;
  margin-left: 862px;

  background-color: #F7ECE1;
}

.text-container h2 {
  margin-bottom: 25px;
}

.text-container h4 {
  margin-bottom: 25px;
}

.text-container span {
  margin-bottom: 24px;
}

.abzac{
  margin-bottom: 35px;
}

.marker{
  transform: translateX(-100%);
  position: absolute;
  top: 6px;
  left: -23px;

  width: 8px;
  height: 8px;

  background-color: #8D86C9;
}

.sport-club .item {
  position: relative;
}
/* coaches */ 

.coaches{
  background-color: #ffffff;
}

.trainer-list {
  display: flex;
  gap: 24px;
}

.trainer-list h4 {
  margin: 25px 0 15px 0;

  text-align: center;
}

.trainer-list p {
  text-align: center;
  max-width: 196px;
}

.trainer-title {
  margin-bottom: 75px;

  font-style: normal;
}

.trainer-list img {
  padding: 0 15px;
  border: 1px solid rgba(247, 236, 225, 1);
}

/* footer */

footer{
  padding: 38px 0;

  background-color: #F7ECE1;
}
.footer {
  display: flex;
  align-items: center;
}

.footer .list {
  display: flex;
  gap: 40px;

  margin-left: 104px;
}

.futer-nav-item {
  display: inline-block;
}
.futer-nav-item > .link {
  color: #333333;
  font-weight: 500;
  font-size: 14px;
}

.futer-nav-item:hover .link{
  cursor: pointer;
  text-decoration: underline;
}
.footer p {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.3;
  color: #333333;
}